

/* .buble{ */
    /* backdrop-filter: blur(10px);         Blur effect */
    /* -webkit-backdrop-filter: blur(10px); Safari support */
    /* border-radius: 10px;                 Optional: Rounded corners */
    /* padding: 20px; */
    /* color:white; */
  /* background:radial-gradient(#063015,#0a2210,#061309) */

/* } */


.managmentcontainer{
  width: 100%;
  margin-left:auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right:0.5rem;
  overflow-x: hidden;
  overflow: hidden; 
}


.managecard{

  backdrop-filter: blur(10px);        
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 10px;                 
    padding: 20px;
    color:white;
    font-family :poppins;
    background: #00000073;
  /* background:radial-gradient(#063015bb,#0a2210,#061309) */
  

}

.managetitle{
  color:white;
  font-family: poppins;
  text-align: center;
  font-weight: 400;
  margin-top:60px;
}

.managecard{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid  #0a3b1cbb  ;
  padding-top:30px;
  text-align: center;
  width:220px;
  height:150px;
}


.micon{
  width: 25px;
  height: 25px;
justify-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;

}

.mtitle{
  font-size: 15px;
  font-weight: 500;
}

.mtext{
  font-size: 12px;
  font-weight: 400;
}




/* responsive design */


@media (min-width:320px) {
  .container{
    max-width: 320px;
  }
  
}

@media (min-width:375px) {
  .container{
    max-width: 375px;
  }
  
}

@media (min-width:425px) {
  .container{
    max-width: 425px;
  }
  
}

@media (min-width:475px) {
  .container{
    max-width: 475px;
  }
  
}

@media (min-width:640px) {
  .container{
    max-width:640px;
  }
  
}

@media (min-width:768px) {
  .container{
    max-width:768px;
  }
  
}

@media (min-width:1024px) {
  .container{
    max-width:1024px;
  }
  
}

@media (min-width:1280px) {
  .container{
    max-width:1280px;
  }
  
}

@media (min-width:1536px) {
  .container{
    max-width:1536px;
  }
  
}